<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=1024, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>Game of Thrones</title>
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<script src="http://localhost:11000/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/e-smart-zoom-jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
  <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" />

<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
<script>
			$(document).ready(function() {
				$('#imageFullScreen').smartZoom({'maxScale':5,'containerClass':'zoomableContainer'});
				
				$('#zoomInButton,#zoomOutButton').bind("click", zoomButtonClickHandler);
				
				function zoomButtonClickHandler(e){
			    	var scaleToAdd = 1.5;
					if(e.target.id == 'zoomOutButton')
						scaleToAdd = -scaleToAdd;
					$('#imageFullScreen').smartZoom('zoom', scaleToAdd);
			    }
				
				
			});
			$(window).load(function(){
				$('#imageFullScreen').smartZoom('zoom', 2, {'x':100,'y':300},300);
				
				var owl = $("#thumbnails");
 
				  owl.owlCarousel({
				      items : 3.2, 
				      itemsDesktop : false, 
				      itemsDesktopSmall : false,
				      itemsTablet: false, 
				      itemsMobile : false,
				      rewindNav : false,
				      responsive: false,
				      
				      
				  });
				 
				  
				  $(".next").click(function(){
				    owl.trigger('owl.next');
				  })
				  $(".prev").click(function(){
				    owl.trigger('owl.prev');
				  })

				  	$("#scene1").on("click", function(){
						socket.emit('changeScene', {index: 0});
						
					});
					$("#scene2").on("click", function(){
						socket.emit('changeScene', {index: 1});
						
					});
					$("#scene3").on("click", function(){
						socket.emit('changeScene', {index: 2});

					});		
					
					var $child = $('#thumbnails .item').click(function () {
					    var index = $child.index(this);
					    $(".item").removeClass('clicked');
					    $(this).addClass('clicked');
					    owl.trigger('owl.goTo',index);
					    $("#moments img").animate({marginTop:'283px', opacity:0},300);
					});
					
					$(".circle").delay(300).show();

				/*
$('#thumbnails .item').on('click', function(event){
					var $this = $(this);
					var index = $(this).index();
					console.log(index);
				    $this.css('background','#7fc242').addClass('clicked');
				    owl.trigger('owl.goTo',index);
				    
				 });
*/
				$(".moment").click(function(){
				    $("#moments img").animate({marginTop:'-14px', opacity:1},300);
				  })
		});
		</script>
</head>
<body>
<div id="app">
	<div class="name"><h1>Scene Name</h1></div>
	<div id="pageContent">
		<div id="imgContainer"> 
			 
<div id="imageFullScreen">
			 	<img class="mapper" src="assets/map.jpg" alt="map"/>
			 	<div id="big-circle" class="circle big">
				    <div class="circle one stark"></div>
				    <div class="circle two lannister"></div>
				    <div class="circle three stark"></div>
			    </div>
			 </div>

			<!--  <img id="imageFullScreen" src="assets/map.jpg" alt="map"/> -->
			 	
			 </div>
		</div>
		
		
		<div id="moments">
			<img src="assets/iron_throne_card.png" />
	</div>
	</div>

	<div id="positionButtonDiv">
		<img id="zoomInButton" class="zoomButton" src="assets/zoomin.png" title="zoom in" alt="zoom in" /> 
		<img id="zoomOutButton" class="zoomButton" src="assets/zoomout.png" title="zoom out" alt="zoom out" />
	</div>
	
	<div id="scenes">
	<div id="thumbnails" class="owl-carousel owl-theme">
	  <div>&nbsp</div>
	  <div>&nbsp</div>
	  <div class="item orange"><h1>1</h1></div>
	  <div class="item darkCyan" id="scene2"><h1>2</h1></div>
	  <div class="item yellow" id="scene3"><h1>3</h1></div>
	  <div class="item forestGreen"><h1>4</h1></div>
	  <div class="item dodgerBlue moment"><h1>5</h1></div>
	  <div class="item skyBlue"><h1>6</h1></div>
	  <div class="item zombieGreen"><h1>7</h1></div>
	  <div class="item violet"><h1>8</h1></div>
	  <div class="item steelGray"><h1>9</h1></div>
	  <div class="item dodgerBlue"><h1>10</h1></div>
	  <div class="item darkCyan"><h1>11</h1></div>
	  <div class="item zombieGreen"><h1>12</h1></div>
	  <div class="item orange"><h1>13</h1></div>
	</div>
	 
	 <script type="text/javascript" charset="utf-8">
		var socket = io.connect('http://localhost:11000');

		var timelineEvents = 
		
		socket.on('videoStart', function  (data) {
			$("#eventListing").append('<p>' + data.message + '</p>');
		});

		socket.on('incomingEvent', function  (event) {
			//document.write('<p>' + data.message + '</p>');
			console.log(event);
			var eventType = event.eventInfo.type;
			console.log(eventType);
			if (eventType == "newScene"){
				handleNewScene(event.eventInfo);
			}
			else if (eventType == "moment"){
				handleMoment(event.eventInfo);
			}
			else if (eventType == "characterEntry"){
				handleCharacterEntry(event.eventInfo);
			}
		});
		
		function handleNewScene(eventInfo){
			console.log("Writing new scene info");
			$("#eventListing").append("<p><h4>"+eventInfo.data.title+"</h4></p><p>Pan scen to: "+eventInfo.data.locationX+","+eventInfo.data.locationY+"</p><p>"+$.each(eventInfo.data.characters, function(i,v) {v+"<br/>"})+"</p>");
		}
		function handleMoment(eventInfo){
			console.log("Writing new moment info");	
			$("#eventListing").append("<p><h4>Moment: "+eventInfo.data.title+"</h4></p>");
		}
		function handleCharacterEntry(eventInfo){
			console.log("Writing new character entry");	
			$("#eventListing").append("<p><h4>New character Entry: "+eventInfo.data.character+"</h4></p>");
		}
		
		
			
		
	</script>
	
	  <a class="move-left btn prev">
		  <img src="assets/slider-left.png" />
	  </a>
	  <a class="move-right btn next"> 
		  <img src="assets/slider-right.png" />
		  
		  
	  </a>
	</div>
	

</div>
</body>
</html>
