<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=1024, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>Game of Thrones</title>
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<script src="http://128.61.56.242:11000/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/e-smart-zoom-jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
  <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" />

<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
<script>
			var lastX, lastY;
			var maxScene = 0;
			var owl;
			var flag = 0;
			$(document).ready(function() {
				$('#imageFullScreen').smartZoom({'maxScale':5,'containerClass':'zoomableContainer'});
				
				$('#zoomInButton,#zoomOutButton').bind("click", zoomButtonClickHandler);
				
				function zoomButtonClickHandler(e){
			    	var scaleToAdd = 1.5;
					if(e.target.id == 'zoomOutButton')
						scaleToAdd = -scaleToAdd;
					$('#imageFullScreen').smartZoom('zoom', scaleToAdd);
			    }
				
				
			});
			$(window).load(function(){			
				owl = $("#thumbnails");
 
				  owl.owlCarousel({
				      items : 3.2, 
				      itemsDesktop : false, 
				      itemsDesktopSmall : false,
				      itemsTablet: false, 
				      itemsMobile : false,
				      rewindNav : false,
				      responsive: false,
				      afterMove: function(){
							setTimeout(function(){
		                    var style = window.getComputedStyle($("#thumbnails .owl-wrapper").get(0));
							var matrix = new WebKitCSSMatrix(style.webkitTransform);
							var transformPosition = matrix.m41;
							var calculatedPosition = (maxScene)*320;
							if ( calculatedPosition == Math.abs(transformPosition)){
								$(".next").hide();
								$(".pause").show();
							} 
							else{
								$(".next").show();
								$(".pause").hide();
							}	                    	
                    	},300)
						}
					});				 
				  
				  $(".next").click(function(){
				    owl.trigger('owl.next');
				  })
				  $(".prev").click(function(){
				    owl.trigger('owl.prev');
				  })

			 // Interactions on the event carousel at the bottom

					$('#thumbnails .item').on("click",function(){
						console.log("clicked");
						$(".item").removeClass('clicked');
						$(this).addClass('clicked');
						console.log($('#thumbnails .item').index(this));
						 owl.trigger('owl.goTo',$('#thumbnails .item').index(this));
					});
					
					$(".circle").delay(300).show();

				$(".moment").click(function(){
				    $("#moments img").animate({marginTop:'-14px', opacity:1},300);
				  })
		});
		
        var socket = io.connect('http://128.61.56.242:11000');		
		socket.on('videoStart', function  (data) {
			$("#eventListing").append('<p>' + data.message + '</p>');
		});

		socket.on('incomingEvent', function  (event) {
			var eventType = event.eventInfo.type;
			console.log(eventType);
			if (eventType == "newScene"){
				handleNewScene(event.eventInfo);
				console.log("socket emit:");
				console.log( event);
			}
			else if (eventType == "moment"){
				handleMoment(event.eventInfo);
			}
			else if (eventType == "character"){
				handleCharacterEntry(event.eventInfo);

			}
		});
		
		function handleNewScene(eventInfo){
			
			console.log("Writing new scene info");

			console.log(eventInfo);	
			
			//The very first scene we zoom into the map
			if(eventInfo.event == '0' && flag == 0){
				
				lastX = eventInfo.data.locationX;
				lastY = eventInfo.data.locationY;
				
                x="100px";
				y="400px";
				$('#imageFullScreen').smartZoom('zoom', 2, {'x':lastX,'y':lastY+130}, 300);

				flag=1;
			} 

			else{

				$('#imageFullScreen').smartZoom("pan",(lastX - eventInfo.data.locationX),(lastY - eventInfo.data.locationY),2000);
				
				$(".circle.big").css({top: (eventInfo.data.locationY) , left:(eventInfo.data.locationX)});
				lastX = eventInfo.data.locationX;
				lastY = eventInfo.data.locationY;	

	       	 }
	       	
	       	getCharacters(eventInfo.data.characters);
			$(".item").removeClass('clicked');
			
			$("#scene"+eventInfo.data.scene).on("click", function(){
				socket.emit('changeScene', {index: eventInfo.data.scene});})
				.show().addClass('clicked');
			owl.trigger('owl.goTo',eventInfo.data.scene);
			if (eventInfo.data.scene > maxScene)
				maxScene= eventInfo.data.scene;
		}

		function handleMoment(eventInfo){
			console.log("yeah. I am trying to show you a moment");	
			console.log(eventInfo);	
			
		}
		function handleCharacterEntry(eventInfo){
			console.log("try");	
			getCharacters(eventInfo.data.characters);
			
		}
		
		function getCharacters(characterInfo){
			switch (characterInfo.length) {
				case 2:
					$('#big-circle').append('<div class="circle one"></div> <div class="circle two"></div>');

					var family = characterInfo[0].family;
					var img_url = "assets/headshots/" + family + "/" + characterInfo[0].name + ".png";
					$('.circle.one').css('background', 'url("'+img_url+'") center').addClass(family);

					family = characterInfo[1].family;
					img_url = "assets/headshots/" + family + "/" + characterInfo[1].name + ".png";
					$('.circle.two').css('background', 'url("'+img_url+'") center').addClass(family);	
					break;
				case 3: 
					console.log("3 people");	
					$("#big-circle").append('<div class="circle one"></div><div class="circle two"></div><div class="circle three"></div>');

					var family = characterInfo[0].family;
					var img_url = "assets/headshots/" + family + "/" + characterInfo[0].name + ".png";
					$('.circle.one').css('background', 'url("'+img_url+'") center').addClass(family);

					family = characterInfo[1].family;
					img_url = "assets/headshots/" + family + "/" + characterInfo[1].name + ".png";
					$('.circle.two').css('background', 'url("'+img_url+'") center').addClass(family);

					family = characterInfo[2].family;
					img_url = "assets/headshots/" + family + "/" + characterInfo[2].name + ".png";
					$('.circle.three').css('background', 'url("'+img_url+'") center').addClass(family);	
					break;
			}
		}
		</script>
</head>
<body>
<div id="app">
	<div class="name"><h1>Scene Name</h1></div>
	<div id="pageContent">
		<div id="imgContainer"> 
			 
<div id="imageFullScreen">
			 	
			 	<div id="big-circle" class="circle big">
				 		
			    </div>
			    <img class="mapper" src="assets/map.jpg" alt="map"/>
			 </div>

			 <!-- <img id="imageFullScreen" src="assets/map.jpg" alt="map"/> -->
			 	
			 </div>
		</div>
		
		
		<div id="moments">
			<img src="assets/iron_throne_card.png" />
	</div>
	</div>

	<div id="positionButtonDiv">
		<img id="zoomInButton" class="zoomButton" src="assets/zoomin.png" title="zoom in" alt="zoom in" /> 
		<img id="zoomOutButton" class="zoomButton" src="assets/zoomout.png" title="zoom out" alt="zoom out" />
	</div>
	
	<div id="scenes">
	<div id="thumbnails" class="owl-carousel owl-theme">
	  <div>&nbsp;</div>
	  <div>&nbsp;</div>
		<div id="scene0" class="item orange">
			<img src="assets/timeline/scene0.jpg"/>
		</div>
		<div id="scene1" class="item orange">
			<img src="assets/timeline/scene1.jpg"/>
		</div>
		<div id="scene2" class="item orange">
			<img src="assets/timeline/scene2.jpg"/>
		</div>
		<div id="scene3" class="item orange">
			<img src="assets/timeline/scene3.jpg"/>
		</div>
		<div id="scene4" class="item orange">
			<img src="assets/timeline/scene4.jpg"/>
		</div>
	</div>
	 	
	  <a class="move-left btn prev">
		  <img src="assets/slider-left.png" />
	  </a>
	  <a class="move-right btn next"> 
		  <img src="assets/slider-right.png" />
		  
		  
	  </a>
	  <a class="move-right pause btn"> 
		  <img src="assets/pause.png" />
	  </a>
	  
	</div>
	

</div>
</body>
</html>
